<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <AccountUsername>pmenefee@wbf.com</AccountUsername>
    <AzureServiceName>WiseLabels20251125155258</AzureServiceName>
    <AzureServiceResourceGroup>AzureBackupRG_eastus_1</AzureServiceResourceGroup>
    <AzureServiceResourceId>/subscriptions/10de60f0-9877-4862-8bc6-c4a8ed8112bd/resourceGroups/AzureBackupRG_eastus_1/providers/Microsoft.Web/sites/WiseLabels20251125155258</AzureServiceResourceId>
    <AzureServiceResourceType>Microsoft.Web/sites</AzureServiceResourceType>
    <AzureServiceSubscriptionId>10de60f0-9877-4862-8bc6-c4a8ed8112bd</AzureServiceSubscriptionId>
    <AzureServiceSubscriptionName>Wise Business Forms Azure Subscription</AzureServiceSubscriptionName>
    <AzureWebSite>/subscriptions/10de60f0-9877-4862-8bc6-c4a8ed8112bd/resourceGroups/AzureBackupRG_eastus_1/providers/Microsoft.Web/sites/WiseLabels20251125155258 (Microsoft.WebTools.Azure.Client.Entities.Website)</AzureWebSite>
    <DotNetCoreVersion>10.0.x</DotNetCoreVersion>
    <DotNetVersionSupportDisposition>FullySupported</DotNetVersionSupportDisposition>
    <GitWorkflowCredentialsHandlerId>WebSite</GitWorkflowCredentialsHandlerId>
    <GitWorkflowFactoryId>appServiceGitHubWorkflowFactory</GitWorkflowFactoryId>
    <GitWorkflowTemplatePath>workflows/github/azureAppServiceWindows.yml</GitWorkflowTemplatePath>
    <IsLinuxAzureService>false</IsLinuxAzureService>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <ProjectGuid>92148a79-1873-9461-d096-920ca9d4c2e8</ProjectGuid>
    <ProjectOutputPath>published</ProjectOutputPath>
    <ProjectPath>.</ProjectPath>
    <PublishProvider>AzureWebSite</PublishProvider>
    <TargetFrameworks>System.Collections.Generic.List`1[System.String]</TargetFrameworks>
    <TenantId>977e68d4-b494-4f1c-a460-575f8ae1abef</TenantId>
  </PropertyGroup>
</Project>